body, html {
  padding: 0;
  margin: 0;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E9DFD8;
}

.navigation {
  display: flex;
  flex-direction: row;
  width: 50%;
  /* background-color: green; */
  justify-content: space-between;
  padding: 16px;
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

/* Media query for mobile screens (max-width: 767px) */
@media (max-width: 800px) {
  .container {
    /* background-color: red; */
  }
  .navigation {
    flex-direction: column; /* Change flex-direction to column for mobile screens */
    width: 10%;
    height: 25%;
    align-items: center;
  }
}